.clear {
	zoom:1
}
.footer-pic {
	background:url(../images/footer.png) no-repeat scroll transparent
}
.new-header p {
	margin:0
}
.new-header a,.new-header div,.new-header li,.new-header ul {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box
}
.header-code-madnnnn {
	background-position:0 0;
	width:96px;
	height:96px
}
.header-code-xdnphb {
	background-position:-96px 0;
	width:96px;
	height:96px
}
.header-code-newrank {
	background-position:-192px 0;
	width:96px;
	height:96px
}
.header-code-liuliang {
	background-position:-288px 0;
	width:96px;
	height:96px
}
.header-code-guanggao {
	background-position:-384px 0;
	width:96px;
	height:96px
}
.header-code-dodoca {
	background-position:0 -96px;
	width:120px;
	height:96px
}
.header-code-maka-logo {
	background-position:-120px -96px;
	width:144px;
	height:96px
}
.header-code-paiban {
	background-position:-264px -96px;
	width:144px;
	height:96px
}
.header-code-weihudong {
	background-position:-408px -96px;
	width:96px;
	height:96px
}
.header-code-wenjuan {
	background-position:-504px -96px;
	width:120px;
	height:96px
}
.header-code-xiumi {
	background-position:-480px 0;
	width:96px;
	height:96px
}
.header-code-zimeiti {
	background-position:-576px 0;
	width:96px;
	height:96px
}
.under {
	height:28px;
	margin-bottom:100px
}
.new-header {
	width:100%;
	height:34px;
	line-height:34px;
	top:0;
	position: relative;
	background-color: #f1f1f1 !important;
	z-index:900;
	transition:all .3s linear;
	-webkit-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-o-transition:all .3s linear
}
.new-header a:link,.new-header a:visited {
	color:#999
}
.new-header li {
	float:left;
	padding-left:14px
}
.new-header div.split-line {
	border-bottom:1px solid #e0e0e0
}
.new-header a:hover {
	color:#E4393C
}
.nav-split-header {
	border-bottom:1px solid #e0e0e0;
	color:#666;
	margin:0 10px 0;
	padding:0 4px 0
}
.nav-split-header div.pay-bd {
	position:absolute;
	top:5px;
	right:30px
}
.nav-split-header div.pay-bd a {
	display:block;
	font-size:12px;
	color:#999
}
.nav-split-header div.pay-bd:hover a {
	color:#ff8c00
}
.nav-split-header div.pay-bd:hover i.pay-icon {
	background-position:-641px -841px
}
.nav-split-header div.pay-bd i.pay-icon {
	display:inline-block;
	width:10px;
	height:10px;
	background-position:-641px -822px;
	margin-left:4px
}
.new-header-old {
	width:1190px;
	margin:0 auto
}
.new-header-con {
	width:1210px;
	margin:0 auto
}
.new-header-logo {
	float:left
}
.new-header-logo li {
	padding-left:0
}
.new-header-user {
	float:right;
	font-size:14px
}
.new-header-nav {
	float:right;
	font-size:12px
}
.new-header-nav a.unlogin {
	padding:2px 15px 2px 5px;
	border-right:1px solid #d4d2d3
}
.new-header-nav li {
	position:relative;
	color:#999
}
.new-header-logo li span.seperate-line {
	width:1px;
	height:12px;
	background:#e0e0e0;
	display:inline-block;
	margin-left:10px;
	vertical-align:-2px
}
.new-header-nav li span.seperate-line {
	width:1px;
	height:12px;
	background:#e0e0e0;
	display:inline-block;
	margin-left:10px;
	vertical-align:-2px
}
.new-header li i.drop-icon {
	-moz-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	transition:all .2s ease-out;
	width:15px;
	height:20px;
	display:inline-block;
	margin:0 -3px 0 8px;
	vertical-align:-2px;
	background-position:-604px -670px
}
.new-header-nav li.index-li .white-line {
	display:block;
	width:73px;
	height:2px;
	background:#fff;
	float:left;
	position:absolute;
	top:-1px;
	left:0
}
.new-header-nav li.index-li {
	border-left:1px solid transparent;
	border-right:1px solid transparent
}
.new-header-nav li.index-li ul {
	display:none;
	top:34px;
	margin-left:-15px;
	padding:5px 0;
	position:absolute;
	width:330px;
	border:1px solid #e0e0e0;
	background:#fff
}
.new-header-nav li.index-li:hover {
	background:#fff;
	color:#999;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0
}
.new-header-nav li.index-li:hover ul {
	display:block
}
.new-header-nav li.index-li:hover .seperate-line {
	background:#fff
}
.new-header-nav li.index-li:hover ul .seperate-line {
	background:#e0e0e0
}
.new-header-nav li.ade-li .white-line {
	display:block;
	width:58px;
	height:2px;
	background:#fff;
	float:left;
	position:absolute;
	top:-1px;
	left:0
}
.new-header-nav li.ade-li {
	border-left:1px solid transparent;
	border-right:1px solid transparent
}
.new-header-nav li.ade-li ul {
	display:none;
	top:34px;
	margin-left:-15px;
	padding-top:5px;
	position:absolute;
	border:1px solid #e0e0e0;
	background:#fff;
	font-size:12px
}
.new-header-nav li.ade-li ul li.ade-default {
	width:100%;
	padding:0;
	display:flex;
	justify-content:space-between
}
.new-header-nav li.ade-li:hover {
	background:#fff;
	color:#999;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0
}
.new-header-nav li.ade-li:hover ul {
	display:block
}
.new-header-nav li.ade-li:hover .seperate-line {
	background:#fff
}
.new-header-nav li.ade-li:hover ul .seperate-line {
	background:#e0e0e0;
	margin:10px 10px 0 0
}
.new-header-nav li.ade-li ul li a.ade-index {
	display:block;
	width:190px;
	font-size:14px;
	color:#666;
	border-bottom:1px solid #e3e3e3;
	margin-bottom:4px;
	display:flex;
	justify-content:space-between
}
.new-header-nav li.ade-li ul li a.ade-index:hover {
	color:#ff8c00
}
.new-header-nav li.ade-li ul li i {
	margin-right:5px;
	vertical-align:-7px;
	display:inline-block
}
.new-header-nav li.ade-li ul li a.default {
	display:inline-block;
	width:77px
}
.new-header-nav li.ade-li ul li i.index-icon {
	width:12px;
	height:12px;
	background-position:-641px -822px;
	vertical-align:-4px
}
.new-header-nav li.ade-li ul li i.jingbiao-icon {
	width:24px;
	height:24px;
	background-position:-769px -816px
}
.new-header-nav li.ade-li ul li a.jingbiao-a:hover i {
	background-position:-769px -837px
}
.new-header-nav li.ade-li ul li i.xungou-icon {
	width:24px;
	height:24px;
	background-position:-745px -816px
}
.new-header-nav li.ade-li ul li a.xungou-a:hover i {
	background-position:-745px -837px
}
.new-header-nav li.ade-li ul li i.toufang-icon {
	width:24px;
	height:24px;
	background-position:-720px -816px
}
.new-header-nav li.ade-li ul li a.toufang-a:hover i {
	background-position:-720px -836px
}
.new-header-nav li.ade-li ul li i.tiepian-icon {
	width:24px;
	height:24px;
	background-position:-699px -816px
}
.new-header-nav li.ade-li ul li a.tiepian-a:hover i {
	background-position:-699px -837px
}
.new-header-nav li.ade-li ul li.ade-my {
	width:190px;
	padding:0;
	margin-bottom:6px;
	line-height:28px;
	background-color:#f1f1f1;
	text-align:center;
	color:#999;
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s
}
.new-header-nav li.ade-li ul li.ade-my:hover {
	background-color:#ff8c00
}
.new-header-nav li.ade-li ul li.ade-my:hover a {
	color:#fff
}
.new-header-nav li.ade-li ul li i.neirong-icon {
	background-position:-652px -815px
}
.new-header-nav li.ade-li ul li a.neirong-a:hover i {
	background-position:-652px -834px
}
.new-header-nav li.ade-li ul li i.dianshang-icon {
	background-position:-677px -815px
}
.new-header-nav li.ade-li ul li a.dianshang-a:hover i {
	background-position:-677px -836px
}
.new-header-nav li.service-li .white-line {
	display:block;
	width:94px;
	height:2px;
	background:#fff;
	float:left;
	position:absolute;
	top:-1px;
	left:0
}
.new-header-nav li.service-li {
	border-left:1px solid transparent;
	border-right:1px solid transparent
}
.new-header-nav li.service-li ul {
	display:none;
	top:34px;
	margin-left:-15px;
	position:absolute;
	width:140px;
	height:200px;
	border:1px solid #e0e0e0;
	background:#fff;
	padding-top:5px
}
.new-header-nav li.service-li:hover {
	background:#fff;
	color:#999;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0
}
.new-header-nav li.service-li:hover ul {
	display:block
}
.new-header-nav li.service-li:hover .seperate-line {
	background:#fff
}
.new-header-nav li.service-li:hover ul .seperate-line {
	background:#e0e0e0
}
.new-header li:hover i.drop-icon {
	-moz-transform-origin:50% 69%;
	-webkit-transform-origin:50% 69%;
	-o-transform-origin:50% 69%;
	transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg)
}
.new-header-nav li.service-li ul li {
	padding-left:4px;
	margin-bottom:-6px
}
.new-header-nav li.service-li ul li a {
	margin-left:10px
}
.new-header-nav li.service-li .bang-custom {
	cursor:pointer;
	color:#999
}
.new-header-nav li.service-li .bang-custom:hover {
	color:#ff8c00
}
.new-header-nav .bangdan-li .white-line {
	display:block;
	width:93px;
	height:2px;
	background:#fff;
	float:left;
	position:absolute;
	top:-1px;
	right:0
}
.new-header-nav .bangdan-li {
	border-left:1px solid transparent;
	border-right:1px solid transparent
}
.new-header-nav .bangdan-li ul {
	display:none;
	top:34px;
	margin-left:-15px;
	position:absolute;
	border:1px solid #e0e0e0;
	background:#fff;
	padding-top:5px;
	right:0;
	height: 340px;
}
.new-header-nav .bangdan-li .ruzhu{
	width:558px;
}
.new-header-nav .bangdan-li .dynamic-title {
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -8px;
    padding: 2px 8px;
    line-height: 15px;
    font-size: 12px;
    border-radius: 7px;
    background: #ff6900;
    color: #fff;
    top: 32px;
    text-align: center;
    display: block;
    z-index: 60;
}
.new-header-nav .bangdan-li .dynamic-title:before {
    content: " ";
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-bottom-color: #ff6900;
    position: absolute;
    top: -8px;
    right: 50%;
    transform: translateX(50%);
}
.new-header-nav .bangdan-li .ruzhu .bg-loader{
    overflow: hidden;
    height: 224px;
	background:url(https://images.chuanboyi.com/201903/2822e95f8a.png) no-repeat;
	width:558px;
}
.new-header-nav .bangdan-li:hover {
	background:#fff;
	color:#999;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0
}
.new-header-nav .bangdan-li:hover ul {
	display:block
}
.new-header-nav .bangdan-li:hover .seperate-line {
	background:#fff
}
.new-header-nav .bangdan-li:hover ul .seperate-line {
	background:#e0e0e0
}
.new-header li:hover i.drop-icon {
	-moz-transform-origin:50% 69%;
	-webkit-transform-origin:50% 69%;
	-o-transform-origin:50% 69%;
	transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg)
}
.new-header-nav .bangdan-li ul li {
	padding:0 5px 0;
	margin-bottom:-6px
}
.new-header-nav .bangdan-li ul li a {
	
}
.new-header-nav .bangdan-li .bang-custom {
	cursor:pointer;
	color:#999
}
.new-header-nav .bangdan-li .bang-custom:hover {
	color:#ff8c00
}
.new-header-nav .bangdan-li .bangdan-li-enter {
	display:block;
	width:290px;
	margin:10px 10px 0;
	background-color:#f1f1f1;
	text-align:center;
	line-height:24px;
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s
}
.new-header-nav .bangdan-li .bangdan-li-enter:hover {
	background-color:#ff8c00;
	color:#fff
}
.new-header-nav .data-li ul {
	display:none;
	top:34px;
	margin-left:-15px;
	position:absolute;
	width:220px;
	padding:0 20px 10px;
	border:1px solid #e0e0e0;
	background:#fff
}
.new-header-nav .data-li {
	border-left:1px solid transparent;
	border-right:1px solid transparent
}
.new-header-nav .data-li .white-line {
	display:block;
	width:101px;
	height:2px;
	background:#fff;
	float:left;
	position:absolute;
	top:-1px;
	left:0
}
.new-header-nav .data-li:hover ul {
	display:block
}
.new-header-nav .data-li:hover {
	background:#fff;
	color:#999;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0
}
.new-header-nav .data-li:hover .seperate-line {
	background:#fff
}
.new-header-nav .data-li:hover ul .seperate-line {
	background:#e0e0e0;
	margin-right:10px
}
.new-header-nav .data-li ul li.data-default {
	width:100%;
	padding:0;
	display:flex;
	justify-content:space-between
}
.new-header-nav .data-li ul li a {
	position:relative;
	color:#999;
	font-size:12px;
	width:100px;
	display:inline-block
}
.new-header-nav .data-li ul li a:hover {
	color:#ff8c00
}
.new-header-nav .data-li ul li a.data-index {
	display:block;
	width:220px;
	font-size:14px;
	color:#666;
	border-bottom:1px solid #e3e3e3;
	margin-bottom:4px;
	display:flex;
	justify-content:space-between
}
.new-header-nav .data-li ul li a.data-index:hover {
	color:#ff8c00
}
.new-header-nav .data-li ul li i {
	vertical-align:-7px;
	width:24px;
	height:24px;
	display:inline-block
}
.new-header-nav .data-li ul li i.moniter-icon {
	background-position:-624px -672px
}
.new-header-nav .data-li ul li i.mini-icon {
	background-position:-634px -770px
}
.new-header-nav .data-li ul li i.sougou-icon {
	background-position:-655px -770px
}
.new-header-nav .data-li ul li i.wordcloud-icon {
	background-position:-613px -770px
}
.new-header-nav .data-li ul li i.douyin-icon {
	background-position:-548px -770px
}
.new-header-nav .data-li ul li i.num-search-icon {
	background-position:-576px -672px
}
.new-header-nav .data-li ul li i.data-acq-icon {
	background-position:-648px -672px
}
.new-header-nav .data-li ul li i.weibo-acq-icon {
	background-position:-768px -624px
}
.new-header-nav .data-li ul li i.del-article-icon {
	background-position:-697px -770px
}
.new-header-nav .data-li ul li i.read-icon {
	background-position:-672px -672px
}
.new-header-nav .data-li ul li i.trend-icon {
	background-position:-696px -672px
}
.new-header-nav .data-li ul li i.bd-icon {
	background-position:-720px -672px
}
.new-header-nav .data-li ul li i.article-icon {
	background-position:-744px -672px
}
.new-header-nav .data-li ul li i.img-import-icon {
	background-position:-768px -672px
}
.new-header-nav .data-li ul li i.history-icon {
	margin-left:9px;
	background-position:-600px -696px
}
.new-header-nav .data-li ul li a.moniter-a:hover i {
	background-position:-624px -696px
}
.new-header-nav .data-li ul li a.mini-a:hover i {
	background-position:-634px -793px
}
.new-header-nav .data-li ul li a.sougou-a:hover i {
	background-position:-655px -793px
}
.new-header-nav .data-li ul li a.wordcloud-a:hover i {
	background-position:-613px -793px
}
.new-header-nav .data-li ul li a.douyin-a:hover i {
	background-position:-548px -793px
}
.new-header-nav .data-li ul li a.num-search-a:hover i {
	background-position:-576px -696px
}
.new-header-nav .data-li ul li a.data-acq-a:hover i {
	background-position:-648px -696px
}
.new-header-nav .data-li ul li a.weibo-acq-a:hover i {
	background-position:-768px -648px
}
.new-header-nav .data-li ul li a.del-article-a:hover i {
	background-position:-697px -793px
}
.new-header-nav .data-li ul li a.read-a:hover i {
	background-position:-672px -696px
}
.new-header-nav .data-li ul li a.trend-a:hover i {
	background-position:-696px -696px
}
.new-header-nav .data-li ul li a.bd-a:hover i {
	background-position:-720px -696px
}
.new-header-nav .data-li ul li a.article-a:hover i {
	background-position:-744px -696px
}
.new-header-nav .data-li ul li i.wxindex-icon {
	background-position:-720px -770px
}
.new-header-nav .data-li ul li a.wxindex-a:hover i {
	background-position:-720px -793px
}
.new-header-nav .data-li ul li i.wxcomment-icon {
	background-position:-768px -770px
}
.new-header-nav .data-li ul li a.wxcomment-a:hover i {
	background-position:-768px -793px
}
.new-header-nav .data-li ul li i.link-article-icon {
	background:url(../img/data/transfericon1.png) no-repeat center
}
.new-header-nav .data-li ul li a.link-a:hover i {
	background:url(../img/data/transfericon4.png) no-repeat center
}
.new-header-nav .data-li ul li i.logo-wall-icon {
	background-position:-743px -623px
}
.new-header-nav .data-li ul li a.logo-wall-a:hover i {
	background-position:-743px -647px
}
.new-header-nav .data-li ul li i.api-data-icon {
	background-position:-720px -624px
}
.new-header-nav .data-li ul li a.api-data-a:hover i {
	background-position:-720px -648px
}
.new-header-nav .data-li ul li i.fans-compare-icon {
	background-position:-591px -770px
}
.new-header-nav .data-li ul li a.fans-compare-a:hover i {
	background-position:-591px -793px
}
.new-header-nav .data-li ul li i.report-icon {
	background-position:-570px -770px
}
.new-header-nav .data-li ul li a.report-a:hover i {
	background-position:-570px -793px
}
.new-header-nav .data-li ul li i.history-icon-spe {
	background-position:-744px -770px
}
.new-header-nav .data-li ul li a.history-spe-a:hover i {
	background-position:-744px -793px
}
.new-header-nav .data-li ul li a.img-import-a:hover i {
	background-position:-768px -696px
}
.new-header-nav .data-li .img-import {
	color:#999;
	border:none;
	width:122px
}
.new-header-nav .data-li .img-import:hover {
	color:#ff8c00
}
.new-header-nav .data-li ul .seperate-line {
	margin-left:0;
	width:1px;
	height:12px;
	background:#e0e0e0;
	display:inline-block;
	float:right;
	margin-top:12px
}
.new-header-nav .data-li .history-li {
	border:none;
	background:#f1f1f1;
	width:220px;
	text-align:center;
	line-height:24px;
	margin:5px 0 5px;
	padding:0;
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s
}
.new-header-nav .data-li ul li.history-li a {
	color:#999;
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s
}
.new-header-nav .data-li ul li.history-li:hover {
	background:#ff8c00
}
.new-header-nav .data-li ul li.history-li:hover a {
	color:#fff!important
}
.new-header-nav li.mini-li .white-line {
	display:block;
	width:106px;
	height:2px;
	background:#fff;
	float:left;
	position:absolute;
	top:-1px;
	left:0
}
.new-header-nav li.mini-li {
	border-left:1px solid transparent;
	border-right:1px solid transparent
}
.new-header-nav li.mini-li ul {
	display:none;
	top:34px;
	margin-left:-15px;
	position:absolute;
	width:107px;
	height:200px;
	border:1px solid #e0e0e0;
	background:#fff;
	padding:5px 14px 0
}
.new-header-nav li.mini-li:hover {
	background:#fff;
	color:#999;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0
}
.new-header-nav li.mini-li:hover ul {
	display:block
}
.new-header-nav li.mini-li:hover .seperate-line {
	background:#fff
}
.new-header-nav li.mini-li:hover ul .seperate-line {
	background:#e0e0e0;
	margin:0 14px 0
}
.new-header li:hover i.drop-icon {
	-moz-transform-origin:50% 69%;
	-webkit-transform-origin:50% 69%;
	-o-transform-origin:50% 69%;
	transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg)
}
.new-header-nav li.mini-li ul li {
	padding-left:2px;
	margin-bottom:-6px
}
.new-header-nav li.mini-li ul li a {
	margin-left:10px
}
.new-header-nav li.mini-li .bang-custom {
	cursor:pointer;
	color:#999
}
.new-header-nav li.mini-li .bang-custom:hover {
	color:#ff8c00
}
.new-header-nav li.solve-li .white-line {
	display:block;
	width:103px;
	height:2px;
	background:#fff;
	float:left;
	position:absolute;
	top:-1px;
	right:0
}
.new-header-nav li.solve-li {
	border-left:1px solid transparent;
	border-right:1px solid transparent
}
.new-header-nav li.solve-li ul {
	display:none;
	top:34px;
	margin-left:-15px;
	position:absolute;
	border:1px solid #e0e0e0;
	background:#fff;
	padding:5px 14px 0;
	right:0;
}
.new-header-nav li.solve-li:hover {
	background:#fff;
	color:#999;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0
}
.new-header-nav li.solve-li:hover ul {
	display:block
}
.new-header-nav li.solve-li:hover .seperate-line {
	background:#fff
}
.new-header-nav li.solve-li:hover ul .seperate-line {
	background:#e0e0e0;
	margin:0 14px 0
}
.new-header li:hover i.drop-icon {
	-moz-transform-origin:50% 69%;
	-webkit-transform-origin:50% 69%;
	-o-transform-origin:50% 69%;
	transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg)
}
.new-header-nav li.solve-li ul i {
	vertical-align:-7px;
	width:20px;
	height:24px;
	display:inline-block
}
.new-header-nav li.solve-li ul i.self-icon {
	background-position:-512px -771px
}
.new-header-nav li.solve-li ul i.open-icon {
	background-position:-532px -771px
}
.new-header-nav li.solve-li ul a.self-a:hover i {
	background-position:-512px -794px
}
.new-header-nav li.solve-li ul a.open-a:hover i {
	background-position:-532px -794px
}
.new-header-logo li {
	float:left;
	height:25px;
	line-height:25px;
	margin-top:4px
}
.new-header-logo li a:hover {
	color:#E4393C
}
.new-header a.new-header-demand i {
	background-position:-336px -240px;
	width:24px;
	height:24px;
	float:left;
	margin-right:5px;
	margin-top:4px
}
.new-header a.new-header-demand:hover i {
	background-position:-360px -240px;
	color:#E4393C
}
.code-left-show {
	margin-left:10px;
	line-height:0;
	margin-top:3px;
	float:left;
	position:relative
}
.code-left-show i {
	background-position:-432px -240px;
	width:24px;
	height:24px;
	display:block
}
.new-header a.new-header-login i {
	display:inline-block;
	width:10px;
	height:12px;
	background-position:-559px -246px;
	margin:0 6px 0 15px;
	vertical-align:-1px
}
@-moz-document url-prefix() {
	.new-header a.new-header-login i {
	margin-top:6px
}
}.new-index-header {
	width:100%;
	height:34px;
	line-height:34px;
	position:fixed;
	top:0;
	background-color:#f1f1f1;
	z-index:900
}
.new-index-header a:link,.new-index-header a:visited {
	color:#999
}
.new-index-header li {
	float:left;
	padding-left:14px
}
.new-index-header a:hover {
	color:#E4393C
}
.new-index-header a.new-index-header-login i {
	float:left;
	margin-top:5px;
	width:24px;
	height:24px;
	display:inline-block;
	background-position:-504px -240px
}
.new-index-header a.new-index-header-login:hover i {
	background-position:-528px -240px
}
.login-reg-li {
	width:115px;
	height:34px;
	color:#fff;
	background-color:#00b0f0;
	padding-left:0!important;
	cursor:pointer
}
.login-reg-li:hover {
	background-color:#33c0f3
}
.login-reg-li a {
	color:#fff!important;
	width:115px;
	height:35px;
	display:inline-block
}
.reg {
	float:left;
	margin-top:10px;
	width:24px;
	height:24px;
	background-position:-146px -240px
}
.new-icon {
	display:block;
	position:absolute;
	width:12px;
	height:12px;
	background-position:-712px -127px
}
.new-header-douyin {
	top:4px;
	right:78px
}
.new-header-navcon {
	height:25px;
	margin-top:3px;
	line-height:25px;
	padding:0 12px 0 10px
}
.new-header-navcon a.new-header-about {
	width:60px;
	display:block;
	padding-left:26px;
	line-height:26px;
	color:#999;
	text-decoration:none;
	border:1px solid #f1f1f1
}
.new-header-navcon a.new-hover {
	border:1px solid #ddd;
	border-bottom:none;
	background:#fff
}
.new-header-navcon a.new-hover:link,.new-header-navcon a.new-hover:visited {
	color:#E4393C
}
.ade-search {
	float:right;
	margin-top:33px
}
.menu-s-liucheng,.menu-s-main {
	float:right;
	width:108px;
	text-align:center;
	margin-top:15px;
	line-height:34px;
	color:#333;
	border-radius:3px;
	border:1px solid #888;
	background-color:#fff;
	cursor:pointer;
	margin-left:20px
}
.menu-s-liucheng:hover,.menu-s-main:hover {
	background-color:#e7e7e7
}
.menu-s-main-register {
	float:right;
	width:108px;
	text-align:center;
	margin-top:15px;
	line-height:34px;
	color:#333;
	border-radius:3px;
	border:1px solid #888;
	background-color:#fff;
	cursor:pointer;
	margin-left:20px
}
.menu-s-main-register:hover {
	background-color:#e7e7e7
}
.nav-icon-5-1 {
	display:block!important;
	width:89px;
	height:34px;
	line-height:34px;
	text-align:center;
	border:1px solid #ff8c00;
	border-radius:5px;
	color:#ff8c00;
	position:absolute;
	top:58px;
	right:10px;
	transition:all .3s ease;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease
}
.nav-icon-5-1 p {
	width:65px;
	margin:0 auto;
	overflow:hidden;
	transition:all .3s ease;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease
}
.nav-icon-5-1 span {
	display:inline-block;
	width:120px
}
.nav-icon-5-1:hover {
	background-color:#ff8c00;
	width:140px
}
.nav-icon-5-1:hover p {
	width:120px;
	color:#fff
}
.common-new {
	position:absolute;
	top:-5px;
	right:-18px;
	display:block;
	width:26px;
	height:13px;
	background-position:-20px -6px
}
.nav-icon {
	display:block;
	width:268px;
	height:88px;
	position:absolute;
	top:22px;
	right:130px
}
.nav-icon a {
	display:block
}
.nav-icon img {
	display:block;
	width:100%;
	height:100%
}
.plugin-icon {
	display:inline-block;
	width:16px;
	height:15px;
	background-position:-731px -122px;
	margin-right:5px;
	vertical-align:-2px
}
.new-header-dnav {
	background:#fff;
	position:absolute;
	z-index:100;
	width:86px;
	padding:0;
	border:1px solid #ddd;
	border-top:0;
	display:none
}
.new-header-dnav li {
	padding:0;
	text-align:center;
	display:block;
	line-height:30px;
	font-size:14px
}
.new-header-dnav li a {
	width:86px;
	text-align:center;
	display:block
}
.new-header-dnav li a:link,.new-header-dnav li a:visited {
	color:#888
}
.new-header-dnav li:hover {
	background:#E4393C
}
.new-header-dnav li a:hover {
	color:#fff
}
.new-message-tubiao {
	display:inline-block;
	background-position:-484px -240px
}
.message-tishi {
	width:12px;
	height:18px
}
.new-header-userbox {
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	margin-top:0;
	height:34px;
	line-height:25px;
	padding:0 1px
}
.new-header-userbox a.new-header-usertxt {
	display:block;
	padding:4px 10px 0 10px;
	border-bottom:none
}
.new-header-userbox a.new-header-usertxt b {
	margin-left:3px;
	font-weight:400;
	position:relative
}
.new-header-userbox a.new-header-usertxt b span {
	position:absolute;
	top:-3px;
	right:-10px;
	width:15px;
	height:15px;
	background:url(../img/new/new_message.png) no-repeat;
	display:inline-block;
	font-size:12px;
	color:#fff;
	text-align:center;
	line-height:15px
}
.user-name {
	width:24px;
	height:22px;
	float:left;
	background-position:-624px -120px;
	margin-top:1px
}
.user-name-spe {
	width:24px;
	height:22px;
	float:left;
	background-position:-624px -120px
}
.down {
	width:24px;
	height:6px;
	background-position:3px -249px;
	display:inline-block;
	margin-left:2px;
	vertical-align:1px
}
.new-header-user li {
	position:relative
}
.user-info-ul {
	display:none;
	top:34px;
	margin-left:-14px;
	position:absolute;
	width:245px;
	height:250px;
	border:1px solid #e0e0e0;
	background:#fff;
	padding-top:5px;
	right:0
}
.user-info-ul .white-line {
	display:none;
	width:94px;
	height:2px;
	background:#fff;
	float:right;
	position:absolute;
	top:-1px;
	right:0
}
.user-info-ul div.top-div {
	cursor:pointer;
	padding-bottom:6px;
	border-bottom:1px solid #e0e0e0;
	margin:6px 4px 0 5px
}
.user-info-ul i.user-head-icon {
	border-radius:100%;
	margin:0 18px 0 7px;
	width:50px;
	height:50px;
	float:left;
	background-position:-24px -677px
}
.user-info-ul .right-user-info {
	display:inline-block;
	font-size:12px;
	width:160px;
	height:47px
}
.user-info-ul .right-user-info p.email {
	color:#555;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:160px;
	height:25px
}
.user-info-ul .right-user-info p.nav-user-phone {
	margin-top:-3px;
	color:#999;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:160px
}
.user-info-ul .right-user-info .phone {
	color:#ff8c00
}
.user-info-ul .right-user-info .bind-phone {
	color:#00b0f0;
	margin:0
}
.user-info-ul .right-user-info .bind-phone:hover {
	text-decoration:underline
}
.user-info-ul li {
	cursor:pointer
}
.user-info-ul li a {
	width:100px
}
.user-info-ul li i {
	margin:0 7px 0 9px;
	vertical-align:-7px;
	width:24px;
	height:24px;
	display:inline-block;
	background-position:-96px -696px
}
.user-info-ul li i.bd-icon {
	background-position:-120px -696px
}
.user-info-ul li i.qx-icon {
	background-position:-144px -696px
}
.user-info-ul li i.js-icon {
	background-position:-168px -696px
}
.user-info-ul li i.js-icon-spe {
	background-position:-168px -720px
}
.user-info-ul li i.fp-icon {
	background-position:-288px -674px
}
.user-info-ul li i.gzh-icon {
	background-position:-192px -696px
}
.user-info-ul li i.zdy-bd-icon {
	background-position:-216px -696px
}
.user-info-ul li i.sx-icon {
	background-position:-240px -696px
}
.user-info-ul li i.xgsh-icon {
	background-position:-264px -696px
}
.user-info-ul li i.ggzx-icon {
	background-position:-288px -696px
}
.user-info-ul li a {
	color:#999;
	font-size:12px;
	width:110px;
	height:25px;
	display:inline-block
}
.user-info-ul .seperate-line {
	width:1px;
	height:12px;
	background:#e0e0e0;
	display:inline-block;
	float:right;
	margin-top:8px
}
.user-info-ul li.ggzx-li {
	width:107px
}
.user-info-ul li.ggzx-li a {
	color:#ff8c00
}
.user-info-ul li.ggzx-li:hover a {
	text-decoration:underline
}
.user-info-ul li.zl-li:hover i {
	background-position:-96px -720px
}
.user-info-ul li.bd-li:hover i {
	background-position:-120px -720px
}
.user-info-ul li.qx-li:hover i {
	background-position:-144px -720px
}
.user-info-ul li.js-li:hover i {
	background-position:-168px -720px
}
.user-info-ul li.fp-li:hover i {
	background-position:-288px -653px
}
.user-info-ul li.gzh-li:hover i {
	background-position:-192px -720px
}
.user-info-ul li.zdy-bd-li:hover i {
	background-position:-216px -720px
}
.user-info-ul li.sx-li:hover i {
	background-position:-240px -720px
}
.user-info-ul li.xgsh-li:hover i {
	background-position:-264px -720px
}
.user-info-ul li {
	width:112px;
	border-bottom:1px solid #f1f1f1;
	padding:5px 5px
}
.user-info-ul li.new-header-quit {
	width:227px;
	margin:0 4px 0;
	background:#ff6464;
	text-align:center;
	cursor:pointer
}
.user-info-ul li.new-header-quit:hover {
	background:#ff4f4f
}
.user-info-ul li.new-header-quit {
	color:#fff
}
.user-info-ul li.ggzx-li,li.new-header-quit {
	border:none
}
.new-header-userbox:hover .user-info-ul {
	display:block
}
.new-header-userbox:hover .white-line {
	display:block
}
.new-header-userbox:hover {
	background:#fff;
	border-right:1px solid #e0e0e0;
	border-left:1px solid #e0e0e0
}
.user-info-ul li:hover a {
	color:#ff8c00
}
.internal-channel-li {
	border-left:1px solid transparent;
	border-right:1px solid transparent
}
.internal-channel-li a {
	color:#999
}
.internal-channel-li ul {
	display:none;
	top:34px;
	margin-left:-15px;
	position:absolute;
	width:256px;
	border:1px solid #e0e0e0;
	background:#fff;
	padding-top:5px;
	min-height:67px;
	max-height:96px
}
.internal-channel-li ul .seperate-line {
	margin:0 7px;
	width:1px;
	height:12px;
	background:#e0e0e0;
	display:inline-block;
	vertical-align:-2px
}
.internal-channel-li:hover ul {
	display:block
}
.internal-channel-li:hover {
	background:#fff;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0
}
.internal-channel-li:hover .seperate-line {
	background:#fff
}
.internal-channel-li:hover ul .seperate-line {
	background:#e0e0e0
}
.new-header-user span.nav-line {
	width:1px;
	height:12px;
	background:#e0e0e0;
	display:inline-block;
	margin-left:10px;
	vertical-align:-2px
}
.internal-channel-li .white-line {
	display:block;
	width:101px;
	height:2px;
	background:#fff;
	float:left;
	position:absolute;
	top:-1px;
	left:0
}
.copyright-service-li {
	border-left:1px solid transparent;
	border-right:1px solid transparent
}
.copyright-service-li ul {
	display:none;
	top:34px;
	margin-left:-15px;
	position:absolute;
	width:295px;
	height:37px;
	border:1px solid #e0e0e0;
	background:#fff;
	padding-top:5px
}
.copyright-service-li ul .seperate-line {
	margin:0 7px;
	width:1px;
	height:12px;
	background:#e0e0e0;
	display:inline-block;
	vertical-align:-2px
}
.copyright-service-li:hover ul {
	display:block
}
.copyright-service-li:hover {
	background:#fff;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0
}
.copyright-service-li:hover .seperate-line {
	background:#fff
}
.copyright-service-li:hover ul .seperate-line {
	background:#e0e0e0
}
.copyright-service-li .white-line {
	display:block;
	width:101px;
	height:2px;
	background:#fff;
	float:left;
	position:absolute;
	top:-1px;
	left:0
}
.ade-put-li ul {
	width:170px
}
#ade-center {
	color:#999;
	cursor:pointer
}
#ade-center:hover {
	color:#ff8c00
}
.new-header-code {
	display:block;
	opacity:.8;
	cursor:pointer;
	margin-left:5px
}
.new-header-code-img {
	display:block;
	margin:20px auto 0;
	opacity:.8;
	cursor:pointer
}
.new-header-cnav {
	position:absolute;
	width:400px;
	height:220px;
	top:60px;
	right:0;
	display:none
}
.new-header-cnav-top {
	position:absolute;
	top:-53px;
	right:0;
	width:64px;
	height:53px;
	z-index:99;
	background-color:#fff;
	border:1px solid #aaa
}
.new-header-cnav-top img {
	display:block;
	margin:5px auto 0 auto;
	width:40px;
	cursor:pointer
}
.split {
	position:absolute;
	top:46px;
	right:190px;
	width:1px;
	height:50px;
	background-color:#999;
	z-index:101
}
.cover-right-p {
	position:absolute;
	top:0;
	right:1px;
	width:64px;
	height:1px;
	background-color:#fff;
	z-index:101
}
.cover-left-p {
	position:absolute;
	top:-6px;
	right:13px;
	width:75px;
	height:1px;
	background-color:#fff;
	z-index:101
}
.new-header-cnav-bottom {
	position:absolute;
	right:0;
	width:400px;
	height:220px;
	z-index:100;
	background-color:#fff;
	border:1px solid #aaa
}
.new-header-cnav .new-header-cnav-bottom li {
	width:140px;
	padding:0;
	margin-left:45px
}
.new-header-cnav-bottom li p {
	margin-top:10px;
	line-height:22px;
	text-align:center;
	font-size:14px
}
.top-qr-code {
    width: 280px;
    height: 76px;
    box-sizing: border-box;
    padding: 18px 0;
    margin: 0 18px;
    border-bottom: 1px dashed #ddd;
    position: relative;
    top: 1px;
}
.top-qr-code img {
    float: left;
    width: 80px;
    height: 80px;
}
.top-qr-code .right-info {
    float: left;
    padding-left: 12px;
    width: 200px;
    box-sizing: border-box;
	line-height: 18px;
}
.top-qr-code .qr-code-title {
    font-size: 14px;
    color: #333;
}
.top-qr-code .qr-code-desc {
    font-size: 12px;
    color: #999;
}
.header-top-btn {
    display: inline-block;
    margin-top: 8px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #E4393C !important;
}
.join-for-free {
    display: block;
    width: 220px;
    margin: 0 auto 12px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    background-image: linear-gradient(90deg,#ff9400 0,#ff5001);
    border-radius: 5px;
    font-size: 16px;
    color: #fff !important;
    text-decoration: none;
	margin-top:20px;
}
.already-join{
	text-align:center;
	margin-bottom:20px;
}
.already-join a{
	color:#E4393C !important;
}
.search-pub-task{
	transition: .3s;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #f10215;
    float: right;
    cursor: pointer;
    top: 25px;
}
.search-pub-task a{
	color:#fff;
}
.huo{
	display: inline-block;
    width: 50px;
    text-align: center;
    line-height: 35px;
    float: right;
    color: #999;
    font-size: 14px;
    margin-top: 25px;
    /* float: left; */
    position: absolute;
    right: 155px;
}
.cby-footer-qrcode-item{
	box-sizing: border-box;
    width: 124px;
    height: 125px;
    padding: 7px;
    background-color: #3B405E;
    margin-left: 20px;
    display: inline-block;
}

.user-login-panel {
    position: relative;
    width: 322px;
    box-sizing: border-box;
    padding: 18px;
    cursor: default;
}
.user-login-panel .user-panel-top {
    position: relative;
    height: 74px;
    border-bottom: 1px solid #ebebeb;
	width:100%;
}
.user-login-panel .user-account{
	width:100%;
}
.user-login-panel .user-panel-top .user-info-wrap {
    height: 62px;
    padding-top: 7px;
}
.user-login-panel .user-panel-top .user-info {
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    margin-bottom: 1px;
	overflow: hidden;
}
.user-login-panel .user-panel-top .user-info .user-name {
    display: inline-block;
    width: 130px;
    color: #333;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}
.user-login-panel .user-panel-top .user-info .fr {
    float: right;
}
.user-login-panel .user-panel-top .user-info .user-logout {
    margin-left: 7px;
}
.user-login-panel .user-panel-top .user-info .account-set:after {
    content: "";
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 0;
    width: 1px;
    background: #888;
}
.user-login-panel .user-panel-top .user-info .account-set {
    position: relative;
    padding-right: 7px;
}
.user-login-panel .user-panel-top .user-account .integral {
    float: right;
}
.user-login-panel .user-panel-top .user-account .coin-amount {
    float: right;
    color: #ff6d40;
    margin: 0 10px 0 5px;
}
.user-login-panel .user-panel-links {
    overflow: hidden;
	width:100%;
}
.user-login-panel .user-panel-links .links-item:first-child {
    border-left: 0;
}
.user-login-panel .user-panel-links .links-item {
    float: left;
    width: 33%;
    height: 62px;
    color: #888;
    border-left: 1px dashed #ebebeb;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin: 14px 0;
}
.user-login-panel .user-panel-links .links-item .links-icon.links-icon-1 {
    background-image: url(../images/order_ico.png);
    background-size: 16px 21px;
}
.user-login-panel .user-panel-links .links-item .links-icon.links-icon-2 {
    background-image: url(../images/zuji_ico.png);
    background-size: 21px 21px;
}
.user-login-panel .user-panel-links .links-item .links-icon.links-icon-3 {
    background-image: url(../images/sc_ico.png);
    background-size: 21px 21px;
}
.user-login-panel .user-panel-links .links-item .links-icon {
    display: block;
    width: 100%;
    height: 36px;
    background-size: 30px 30px;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-top: 4px;
}
.user-login-panel .user-panel-recommend {
    border-top: 1px solid #ebebeb;
    text-align: center;
    margin-top: 10px;
    padding-top: 15px;
}
.user-login-panel .user-panel-recommend .recommend-title {
    color: #333;
    font-size: 12px;
    margin-bottom: 15px;
}
.user-login-panel .user-panel-recommend .recommend-content img {
    display: inline-block;
    max-width: 100%;
}

.member-news{
    background: url(/statics/default/my/images/blink.gif) no-repeat 0 -18px;
    display: inline-table;
    padding-left: 18px;
    color: #dd4814;
    line-height: 28px;
}
#mxnew .blink{
    animation: blink 2s linear infinite;  
    -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    -ms-animation: blink 2s linear infinite;
    -o-animation: blink 2s linear infinite;
    background: url(/statics/default/my/images/blink.gif) no-repeat 0 9px;
}
.blink {
    background: url(/statics/default/my/images/blink.gif) no-repeat 0 9px;
}